mixin breadcrumb(names, hrefs)
  ol.breadcrumb
    each name, index in names
      if (index == names.length - 1)
        
        li.breadcrumb-item.active
          a(href= `${hrefs[index]}.html` ? `${hrefs[index]}.html` : '#') #{name} 
      
      else
        
        li.breadcrumb-item
          a(href= `${hrefs[index]}.html` ? `${hrefs[index]}.html` : '#') #{name} 
