mixin lists(names, hrefs, active)
  ul.aside-list.aside-list--default
    each name, index in names
      if (index != active - 1)
        li.aside-list__item
          if (hrefs !== '' && hrefs !== undefined)
            a.aside-list__link(
              class="aside-list__link"
              class= `${active}` ? `${active}` : null
              href= `${hrefs[index]}.html` ? `${hrefs[index]}.html` : '#')
              i.aside-list__icon.fas.fa-chevron-right.icon--xs.icon--gray
              | #{name}
          else

            a(
              class="aside-list__link"
              class= `${active}` ? `${active}` : null
              href='#')
              i.aside-list__icon.fas.fa-chevron-right.icon--xs.icon--gray
              | #{name} 
      else
        
        li.aside-list__item.active
          if (hrefs !== '' && hrefs !== undefined)
            a.aside-list__link(
              class="aside-list__link"
              class= `${active}` ? `${active}` : null
              href= `${hrefs[index]}.html` ? `${hrefs[index]}.html` : '#')
              i.aside-list__icon.fas.fa-chevron-right.icon--xs.icon--gray
              | #{name}
          else

            a(
              class="aside-list__link"
              class= `${active}` ? `${active}` : null
              href='#')
              i.aside-list__icon.fas.fa-chevron-right.icon--xs.icon--gray
              | #{name}

mixin lists-color({name, href, active, color})
  a(
    class="color-list__item"
    class= `${active}` ? `${active}` : null
    href= href ? href : '#'
    )
    .color-list__color(
      class= `${color}` ? `color-list__color--${color}` : null
      )
    p.color-list__text #{name}
    
mixin lists-image(names, hrefs)
  ul.aside-list.aside-list--image
    each name, index in names
      li.aside-list__item
        a.aside-list__link(href= `${hrefs[index]}.html` ? `${hrefs[index]}.html` : '#') #{name}

mixin lists-tag(names, hrefs)
  ul.aside-list.aside-list--tag
    each name, index in names
      li.aside-list__item
        a.aside-list__link(href= `${hrefs[index]}.html` ? `${hrefs[index]}.html` : '#') #{name}
